modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/nearbuy: expo"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "NearBuy Business (background)"

[[workflows.workflow]]
name = "artifacts/nearbuy: expo"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=20248 BASE_PATH=/nearbuy/ pnpm --filter @workspace/nearbuy run dev"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "NearBuy Business (background)"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=20247 BASE_PATH=/nearbuy-business/ pnpm --filter @workspace/nearbuy-business run dev"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 5173

[[ports]]
localPort = 8084
externalPort = 6800

[[ports]]
localPort = 18600
externalPort = 3003

[[ports]]
localPort = 20247
externalPort = 3000

[[ports]]
localPort = 20248
externalPort = 3002

[[ports]]
localPort = 20249
externalPort = 4200

[[ports]]
localPort = 22692
externalPort = 5000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_bWFnaWNhbC1ib2EtMy5jbGVyay5hY2NvdW50cy5kZXYk"
ROOT_ADMIN_USERNAME = "root"
ROOT_ADMIN_PASSWORD = "iAck65ASTuw7Xszs!A1"
ADMIN_JWT_SECRET = "29f8aac115e9b01628dd9c16a7e8829a99833bedc0975fb5a457bc9101683848dc0d3a346fffa441177952a40280c241"
